#header {
  height: 26px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: white;
}
